block content
    head
        link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css')

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
        script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
        script(src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js')
    body

        .container
            h3 Users
            table#users.table.table-hover.table-striped.table-bordered
                thead
                    tr
                        th id
                        th Name
                        th Email
                tbody
                    each user in users
                        tr
                            td= user.id
                            td= user.name
                            td= user.email
        script.
            $(document).ready(function () {
                $('#users').DataTable();
            });
